
name: ci

on:
  push:
    branches-ignore:
      - '!master'
  pull_request:
    branches: 
      - '!master'

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      
    - name: shellcheck
      run: ./build/ci.sh
